In [1]:
#### Importando bibliotecas
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from functools import reduce

##### Manipulação de dados

In [2]:
#### Conect MySQL
my_conection = create_engine('mysql+pymysql://root:Zurique@localhost:3306/retornos')

In [3]:
#### Importando dados
bcom = pd.read_sql_table('bcom', my_conection)
br_bonds = pd.read_sql_table('br_bonds', my_conection)
cds = pd.read_sql_table('cds_5', my_conection)
dolar = pd.read_sql_table('dolar', my_conection)
icc = pd.read_sql_table('icc', my_conection)
infla = pd.read_sql_table('inflacao', my_conection)
m2 = pd.read_sql_table('m2', my_conection)
pnad = pd.read_sql_table('pnad', my_conection)
cred = pd.read_sql_table('saldo', my_conection)
us_bonds = pd.read_sql_table('us_bonds', my_conection)
vix = pd.read_sql_table('vix', my_conection)
indices = pd.read_sql_table('indices', my_conection)

In [4]:
##### Tratando dados
bcom.drop(['index', 'Variação'], axis=1, inplace=True)
bcom.rename(columns={'Último':'BCOM'}, inplace=True)
br_bonds.rename(columns={'Pricing Date':'Data'}, inplace=True)
us_bonds.rename(columns={'Pricing Date':'Data'}, inplace=True)
infla.rename(columns={'Date':'Data'}, inplace=True)
cred.rename(columns={'Date':'Data'}, inplace=True)
vix.rename(columns={'Último':'VIX'}, inplace=True)
vix.drop(['Variação'], axis=1, inplace=True)
cds.rename(columns={'Último':'CDS'}, inplace=True)
cds.drop(['Variação'], axis=1, inplace=True)
indices.replace('-', np.nan, inplace=True)

In [5]:
#### Tristeza total
teste = bcom.merge(br_bonds, how='right', on='Data')
teste_2 = teste.merge(cds, how='right', on='Data')
teste_3 = teste_2.merge(dolar, how='right', on='Data')
teste_4 = teste_3.merge(icc, how='right', on='Data')
teste_5 = teste_4.merge(infla, how='right', on='Data')
teste_6 = teste_5.merge(m2, how='right', on='Data')
teste_7 = teste_6.merge(pnad, how='right', on='Data')
teste_8 = teste_7.merge(cred, how='right', on='Data')
teste_9 = teste_8.merge(us_bonds, how='right', on='Data')
teste_10 = teste_9.merge(vix, how='right', on='Data')
teste_11 = teste_10.merge(indices, how='right', on='Data')

In [6]:
df = teste_11.iloc[2:,:]

In [7]:
df.head()

,Data,BCOM,2y Brazilian Bond,10y Brazilian Bond,CDS,USD/BRL,ICC,CPI,IPCA,M2_Brasil,...,Desemprego,Saldo,2y US T-Note,10y US T-Note,VIX,ICON,IEEX,IFNC,IMOB,INDX
2,2011-01-04,160.0123,12.31,12.05,105.31,1.6186,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.63,3.36,17.40,1693,27558,3787,1020,11098
3,2011-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1698,27886,3812,1025,11155
4,2011-01-06,158.9091,12.39,12.14,106.63,1.5870,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.68,3.44,18.30,1682,27783,3756,1017,11096
5,2011-01-07,157.8586,12.52,12.37,110.29,1.5591,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.60,3.34,15.87,1671,27791,3680,1010,11079
6,2011-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1675,27684,3702,1003,11068

In [8]:
df.isnull().sum()

Data                    0
BCOM                  722
2y Brazilian Bond     700
10y Brazilian Bond    700
CDS                   700
USD/BRL               768
ICC                   699
CPI                   699
IPCA                  699
M2_Brasil             699
M2_EUA                699
Desemprego            685
Saldo                 672
2y US T-Note          441
10y US T-Note         441
VIX                   431
ICON                  154
IEEX                  154
IFNC                  154
IMOB                  154
INDX                  154
dtype: int64

In [9]:
#### Preenchendo valores nulos
df = df.ffill()

In [10]:
df.isnull().sum()

Data                  0
BCOM                  0
2y Brazilian Bond     0
10y Brazilian Bond    0
CDS                   0
USD/BRL               0
ICC                   0
CPI                   0
IPCA                  0
M2_Brasil             0
M2_EUA                0
Desemprego            0
Saldo                 0
2y US T-Note          0
10y US T-Note         0
VIX                   0
ICON                  0
IEEX                  0
IFNC                  0
IMOB                  0
INDX                  0
dtype: int64

In [11]:
df.head()

,Data,BCOM,2y Brazilian Bond,10y Brazilian Bond,CDS,USD/BRL,ICC,CPI,IPCA,M2_Brasil,...,Desemprego,Saldo,2y US T-Note,10y US T-Note,VIX,ICON,IEEX,IFNC,IMOB,INDX
2,2011-01-04,160.0123,12.31,12.05,105.31,1.6186,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.63,3.36,17.40,1693,27558,3787,1020,11098
3,2011-01-05,160.0123,12.31,12.05,105.31,1.6186,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.63,3.36,17.40,1698,27886,3812,1025,11155
4,2011-01-06,158.9091,12.39,12.14,106.63,1.5870,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.68,3.44,18.30,1682,27783,3756,1017,11096
5,2011-01-07,157.8586,12.52,12.37,110.29,1.5591,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.60,3.34,15.87,1671,27791,3680,1010,11079
6,2011-01-10,157.8586,12.52,12.37,110.29,1.5591,160.83,220.223,0.83,1.364977e+09,...,6.0,0.350498,0.60,3.34,15.87,1675,27684,3702,1003,11068

In [12]:
df.set_index('Data', inplace=True)
df = df.astype(float)

In [13]:
indices.set_index('Data', inplace=True)

In [14]:
indices = indices.astype(float)
indices.describe()

              ICON          IEEX          IFNC         IMOB          INDX
count  2845.000000   2845.000000   2845.000000  2845.000000   2845.000000
mean   3175.711965  44242.439265   7069.012513   774.020359  14965.729139
std    1095.908372  19906.874034   3105.146931   187.369290   4700.711697
min    1345.000000  20873.000000   2757.000000   417.000000   7701.000000
25%    2395.000000  28004.000000   4160.000000   651.040000  11720.000000
50%    2910.000000  36235.000000   6208.000000   750.640000  12955.000000
75%    3805.240000  61982.690000   9974.590000   893.000000  17121.850000
max    5728.820000  86516.050000  13612.130000  1526.200000  27661.870000

In [15]:
df.shape

(2998, 20)

In [16]:
df['ICON']

Data
2011-01-04    1693.00
2011-01-05    1698.00
2011-01-06    1682.00
2011-01-07    1671.00
2011-01-10    1675.00
               ...
2022-06-24    3038.92
2022-06-27    3044.14
2022-06-28    2996.31
2022-06-29    2976.94
2022-06-30    2956.21
Name: ICON, Length: 2998, dtype: float64

##### Modelando dados para Treino

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
y = df['INDX'].shift(-31)
X = df[['BCOM', '2y Brazilian Bond', '10y Brazilian Bond', 'CDS', 'USD/BRL',
       'ICC', 'CPI', 'IPCA', 'M2_Brasil', 'M2_EUA', 'Desemprego', 'Saldo',
       '2y US T-Note', '10y US T-Note', 'VIX', ]]

In [19]:

teste = pd.concat([X, y], axis=1)
teste = teste.dropna()

In [20]:

y = teste['INDX']
X = teste[['BCOM', '2y Brazilian Bond', '10y Brazilian Bond', 'CDS', 'USD/BRL',
       'ICC', 'CPI', 'IPCA', 'M2_Brasil', 'M2_EUA', 'Desemprego', 'Saldo',
       '2y US T-Note', '10y US T-Note', 'VIX']]

In [21]:
scaler = StandardScaler()
X_saler = scaler.fit_transform(X)

c:\Users\Jhona\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  warnings.warn(
c:\Users\Jhona\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_saler, y, test_size=0.3, random_state=0)

##### Rodando Modelo

In [23]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [24]:
alphas = [0.1, 1.0, 10.0, 100.0, 1000.0, 10000.0]
ridge_scores = []
ridge_mse = []
for alpha in alphas:
  
  # Create a Ridge regression model
  ridge = Ridge(alpha=alpha)
  
  # Fit the data
  ridge.fit(X_train, y_train)
  
  # Obtain R-squared
  score = ridge.score(X_test, y_test)
  ridge_scores.append(score)
print(ridge_scores)

[0.933740579503549, 0.9335026649123204, 0.9320214433828411, 0.9273083415916925, 0.9004818788786192, 0.6837468587326663]

In [25]:
ridge = Ridge(alpha=1)
ridge.fit(X_test, y_test)

Ridge(alpha=1)

In [26]:
ridge.alpha

1

In [27]:
predicted_y = ridge.predict(X_test)

In [28]:
mse = mean_squared_error(y_test, predicted_y)

In [29]:
rmse = mse**(1/2)

In [30]:
mse

1510782.814233508

In [31]:
rmse

1229.1390540673208